services:
  client:
    build:
      context: .
      dockerfile: Dockerfile_Client
    ports:
      - "5000:80"
      - "5001:443"
    depends_on:
      - identity
    volumes:
      - ./aspnetcore-dev-cert.pfx:/app/aspnetcore-dev-cert.pfx  # Mount certificate into /app
    environment:
      - ASPNETCORE_Kestrel__Certificates__Default__Path=/app/aspnetcore-dev-cert.pfx
      - ASPNETCORE_Kestrel__Certificates__Default__Password=MyPw123
      - IDP_AUTHORITY=${IDP_AUTHORITY}
  
  identity:
    build:
      context: .
      dockerfile: Dockerfile_Identity
    ports:
      - "${IDP_AUTHORITY_PORT}:80"
      - "7001:443"
    volumes:
      - ./aspnetcore-dev-cert.pfx:/app/aspnetcore-dev-cert.pfx  # Mount certificate into /app
    environment:
      - ASPNETCORE_Kestrel__Certificates__Default__Path=/app/aspnetcore-dev-cert.pfx
      - ASPNETCORE_Kestrel__Certificates__Default__Password=MyPw123
      - IDP_LOGINURL=${IDP_LOGINAPP}/login
      - IDP_LOGOUTURL=/logout
      - IDP_CONSENTURL=${IDP_LOGINAPP}/consent
      - LogLevel=Debug
  
  api:
    build:
      context: .
      dockerfile: Dockerfile_Api
    ports:
      - "${IDP_API_PORT}:80"
    environment:
      - LogLevel=Debug

  login-app:
    build:
      context: .
      dockerfile: Dockerfile_IdUi
      args:
        VITE_API_URL: ${IDP_AUTHORITY}
    ports:
      - "${IDP_LOGINAPP_PORT}:80"
    depends_on:
      - identity
