# docker compose build client --no-cache; docker compose up -d --force-recreate client
# docker compose build identity; docker compose up -d --force-recreate identity

services:
  client:
    build:
      context: .
      dockerfile: Dockerfile_Client
    ports:
      - "5001:443"
    depends_on:
      - identity
    volumes:
      - ./aspnetcore-dev-cert.pfx:/app/aspnetcore-dev-cert.pfx  # Mount certificate into /app
    environment:
      - ASPNETCORE_Kestrel__Certificates__Default__Path=/app/aspnetcore-dev-cert.pfx
      - ASPNETCORE_Kestrel__Certificates__Default__Password=MyPw123
      - IDP_AUTHORITY=${IDP_AUTHORITY}
    extra_hosts:
      - "idp.local:host-gateway"
      - "login.local:host-gateway"
      - "client.local:host-gateway"
      - "api.local:host-gateway"
  
  identity:
    build:
      context: .
      dockerfile: Dockerfile_Identity
    ports:
      - "${IDP_AUTHORITY_PORT}:443"
    volumes:
      - ./aspnetcore-dev-cert.pfx:/app/aspnetcore-dev-cert.pfx  # Mount certificate into /app
    environment:
      - ASPNETCORE_Kestrel__Certificates__Default__Path=/app/aspnetcore-dev-cert.pfx
      - ASPNETCORE_Kestrel__Certificates__Default__Password=MyPw123
      - IDP_LOGINURL=${IDP_LOGINAPP}/login
      - IDP_LOGOUTURL=${IDP_AUTHORITY}/logout
      - IDP_CONSENTURL=${IDP_LOGINAPP}/consent
      - LogLevel=Debug
    extra_hosts:
      - "login.local:host-gateway"
      - "client.local:host-gateway"
      - "idp.local:host-gateway"
      - "api.local:host-gateway"
  
  api:
    build:
      context: .
      dockerfile: Dockerfile_Api
    volumes:
      - ./aspnetcore-dev-cert.pfx:/app/aspnetcore-dev-cert.pfx  # Mount certificate into /app
    ports:
      - "${IDP_API_PORT}:443"
    environment:
      - ASPNETCORE_Kestrel__Certificates__Default__Path=/app/aspnetcore-dev-cert.pfx
      - ASPNETCORE_Kestrel__Certificates__Default__Password=MyPw123
      - LogLevel=Debug
    extra_hosts:
      - "login.local:host-gateway"
      - "client.local:host-gateway"
      - "idp.local:host-gateway"
      - "api.local:host-gateway"

  login-app:
    build:
      context: .
      dockerfile: Dockerfile_IdUi
      args:
        VITE_API_URL: ${IDP_AUTHORITY}
    ports:
      - "${IDP_LOGINAPP_PORT}:443"
    depends_on:
      - identity
    volumes:
      - ./aspnetcore-dev-cert.pfx:/app/aspnetcore-dev-cert.pfx
    extra_hosts:
      - "login.local:host-gateway"
      - "client.local:host-gateway"
      - "idp.local:host-gateway"
      - "api.local:host-gateway"
